* {font-family: 'kenyan_coffee', Arial, serif ; font-size: 20px; font-weight: lighter}

p {text-align: justify;
	padding: 10px; 
	margin: auto;
	overflow: auto;}
	
footer {text-align: right; 
	font-style: italic;
	bottom:0px;
	clear: both;}
	
nav { border-radius: 5px; 
	float: left; 
	width: 10%; 
	background-color: white;} 

section { margin-left: 160px; 
	overflow: auto;
	max-height: 40%} 

article, aside 
	{ display: inline-block; 
	vertical-align: top; 
	text-align: justify; 
	overflow: auto;} 

article 
	{margin-left: 10px;
	width: 70%;
	background-color: #C0C0C0; 
	border-radius: 5px; 
	color: black; 
	padding: 10px;}

aside 
	{ position: relative; 
	width: 20%; 
	background-color: #706b64; 
	border-radius: 5px; 
	margin-left: 10px; 
	padding: 10px;  
	color: white; 
	font-size: 0.9em;
	max-height: 600px}
	
a:link {color: purple;
	font-family: 'kenyan_coffee', Arial, serif ;
	text-decoration:none;
	font-weight: bold;
	font-style:italic ;}

a:visited {color: magenta;}

a:hover {color: grey;}

a:active {color: red;}	

.mini 
	{margin-left: 20%; 
	width: 150px;
	border: 1px solid white;
	border-radius: 5px;}
	
body 
	{width: 95%;
	margin: auto;
	margin-top: 20px; 
	margin-bottom: 20px;
	background-image: url("images/fond.jpg");} 

h1 {text-align: center;
	font-size: 34px;}
	
h2 {font-size: 28px;
	margin-left: 4%}
	
header 
	{margin-left: auto;
	width: 80%; 
	height: 100px;
	background-image: url("images/banniere.jpg");
	background-repeat: no-repeat; 
	margin-bottom: 10px; 
	border-radius: 5px;}
	
@font-face { font-family: 'kenyan_coffee'; src: url('polices/kenyan_coffee.ttf');}	
	